{% extends 'base.html' %}
{% block head %}
<title>Blog App:{{post.title}}</title>
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/blog_list.css">
{% endblock %}

{% block content %}
<div class="blog-container">
    <div class="entries_categories">

        <a href="?" class="category active">All</a>

        {% for category in categories %}

        <a class="category"
            href="?category={{category.title}}">{{category.title}}</a>

        {% endfor %}
    </div>
        <div class="sort-bar">
    <form method="get">
        <label for="sort">sorting by:</label>
        <select name="sort" id="sort" onchange="this.form.submit()">
            <option value="date" {% if sort == 'date' %}selected{% endif %}>date</option>
            <option value="rating" {% if sort == 'rating' %}selected{% endif %}>rating</option>
        </select>
    </form>
</div>
        <div class="blogs-list">
            {% for post in posts %}
            <div class="blog">
                <a href="{% url 'blog_details' blog_id=post.id %}" class = "blog-link">
                    <div class="blog-header">
                        <img src="/static/img/Image20250610201047.png" alt>
                        <p class="blog-header-category">{{post.category.title}}</p>
                    </div>
                    <div class="blog-content">
                        <h2 class="blog-title">{{post.title}}</h2>
                        <p class="blog-description">{{post.content|safe}}</p>
                        <div class="blog-content-created">
                            <p
                                class="blog-content-created-date">{{post.created_at|date:"d.m.Y"}}</p></p>
                            <p class="blog-content-created-author">{{post.user}}</p>
                        </div>
                    </div>
                </a>
            </div>
            
            {% endfor %}
        </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const categories = document.querySelectorAll(".category");
        categories.forEach(category=>category.classList.remove("active"))

        const urlParams=new URLSearchParams(window.location.search);
        const categoryParam=urlParams.get("category");
        
        if(categoryParam){
            const activeCategory=document.querySelector(`.category[href="?category=${categoryParam}"]`);
            if(activeCategory){
                activeCategory.classList.add("active");
            }
        }else{
            const activeCategory=document.querySelector('.category[href="?"]');
            if(activeCategory){
                activeCategory.classList.add("active");
            }
            
        }

    })
</script>
{% endblock %}