{% extends 'base.html' %}
{% block head %}
       
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/nullable.css">

<title>Blog App:Home</title>

{% endblock %}

{% block content %}
<header>
    <div class="container">
        <div class="header">
            <div class="header-description">
                <h1 class="header-title">Welcome to Django Blog App</h1>
                <p class="header-subtitle">Master Web Development with amazing
                    resources
                    that are available for free! Join our Newsletter and get
                    alerted
                    when new articles, topics or courses are published.</p>
                <form action class="newsletter" method="post">
                    {% csrf_token %}
                    <input type="email" name="email" placeholder="Email Adress">
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <div class="header-image">
                <img src="/static/img/image20250609174555.png" alt>
            </div>
        </div>

    </div>


</header>
<div class="container">
    <div class="container">
    

    <div class="blogs">
        <div class="blogs-header">
            <h2>
                Latest Blogs
            </h2>
            <a href="{% url 'all_blog_entries' %}" class="blogs-header-btn">See All</a>
        </div>
        <div class="blogs-list">
            {% for post in posts %}
            <div class="blog">
                <a href="{% url 'blog_details' blog_id=post.id %}" class = "blog-link">
                    <div class="blog-header">
                        <img src="/static/img/Image20250610201047.png" alt>
                        <p class="blog-header-category">{{post.category.title}}</p>
                    </div>
                    <div class="blog-content">
                        <h2 class="blog-title">{{post.title}}</h2>
                        <p class="blog-description">{{post.content|safe}}</p>
                        <div class="blog-content-created">
                            <p
                                class="blog-content-created-date">{{post.created_at|date:"d.m.Y"}}</p></p>
                            <p class="blog-content-created-author">{{post.user}}</p>
                        </div>
                    </div>
                </a>
            </div>
            
            {% endfor %}
        </div>
    </div> 
</div>

{% endblock %}